/* *{
    margin: 0;
    padding: 0;
} */

/* primary section */
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  padding: 15px 35px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

span {
  color: #fd6e0a;
}

.section-tital {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-discription {
  color: #757575;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

/*   nav related style    */

.mari {
  color: #181818;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav > .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav .item > a {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
nav a {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/*   header related style    */

.header-container {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/header_bg.png");
  /* background-image: url(images/developer.png); */
  background-repeat: no-repeat;
  background-position: bottom right;
}
.text-banner {
  max-width: 520px;
}
.banner img {
  width: 510px;
}
.banner-geeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}

.banner-tital {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}
.banner-discription {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Main section style */
main {
  max-width: 1140px;
  margin: 0px auto;
  background: #FFF;
}

main section{
    margin-top: 130px;
}
/* about section style */
.about {
  padding: 130px 156px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-tital {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.info-discription {
  text-align: center;
  font-weight: bold;
}
/*  what i do section */
.what-i-do-dis {
  padding: 0px 160px;
  padding-bottom: 30px;
}

/* skill side */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  padding: 33px;
  border: none;
  box-shadow: 10px 6px 50px 10px rgba(0, 0, 0, 0.06);
}
.skill-tital{
color:#181818;
font-size: 20px;
font-weight: 700;
}
.skill-discription{
 color: #757575;
font-size: 16px;
font-weight: 400;

}

/* resume section style */
.resume-container{
display: flex;
align-items: center;
gap: 70px;

}
.resume-tital{
  color:  #474747;
font-size: 30px;
font-weight: 700;
}
.resume-item-tital{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}
hr{
width: 558px;
height: 1px;
margin: 30px 0px;
background: #D1D1D1;
}
.resume-item-institute{
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.resume-item-discription{
  color:#757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.btn-cv{
  text-align: center;
  margin-top: 50px;
}


